<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Todo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }} ">
    </head>
    <body>
        <br>
        <div class="container-fluid">
            {% block menu %}
                <a class="btn btn-primary" href="{{ url_for('index') }}">Tarefas</a>
                <a class="btn btn-primary" href="{{ url_for('nova_tarefa') }}">Nova Tarefa</a>
                <hr>
            {% endblock%}

            {% block content %}
            {% endblock %}
        </div>
        <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
