{% extends 'base.html' %}

{% block content %}
<div class="col-xs-3 col-sm-3 col-lg-3"></div>

<div class="col-xs-6 col-sm-6 col-lg-6">
    <h2>Tarefas</h2>

    <div class="panel panel-default">
        <div class="panel-heading">Tarefas Pendentes</div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-9 col-sm-9 col-lg-9">Titulo</th>
                    <th class="col-xs-3 col-sm-3 col-lg-3">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in tarefas_pendentes %}
                    <tr>
                        <td>{{ tarefa.titulo }}</td>
                        <td><a href="{{ url_for('editar_tarefa', id=tarefa.id) }}">Editar</a> - <a href="{{ url_for('concluir_tarefa', id=tarefa.id) }}">Concluir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Tarefas Concluidas</div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-9 col-sm-9 col-lg-9">Titulo</th>
                    <th class="col-xs-3 col-sm-3 col-lg-3">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in tarefas_concluidas %}
                    <tr>
                        <td><strike>{{ tarefa.titulo }}</strike></td>
                        <td><a href="{{ url_for('editar_tarefa', id=tarefa.id) }}">Editar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="col-xs-3 col-sm-3 col-lg-3"></div>
{% endblock %}
