{% extends 'base.html' %}

{% block content %}
<h1>Tarefas</h1>

<h2>Tarefas Pendentes</h2>
<ul>
    {% for tarefa in tarefas_pendentes %}
        <li>{{ tarefa.titulo }} - <a href="{{ url_for('editar_tarefa', id=tarefa.id) }}">Editar</a> - <a href="{{ url_for('concluir_tarefa', id=tarefa.id) }}">Concluir</a></li>
    {% endfor %}
</ul>

<h2>Tarefas Concluidas</h2>
<ul>
    {% for tarefa in tarefas_concluidas %}
        <li><strike>{{ tarefa.titulo }}</strike> - <a href="{{ url_for('editar_tarefa', id=tarefa.id) }}">Editar</a></li>
    {% endfor %}
</ul>

{% endblock %}
